

<div class="navbar" id="navbar">
   <ul>
    <li><a href="" routerLinkActive="active" >Home</a></li>
    <li> <a href="about" routerLinkActive="active" >About</a></li>
    <li> <a href="child">Child</a></li>
    <li><a href="parent">Parent</a></li>
    <li><a>Bind</a>
    <ul>
        <li><a href="bind">Data Bind</a></li>
        <li><a href="class-bind">Class Bind</a></li>
        <li><a href="event-bind">Event Bind</a></li>
    </ul>
</li>
    <li><a href="template">Template</a></li>
</ul> 
</div>

<div class="content">
    <div class="landing slide-in">
        <h1>Welcome to Our Website</h1>
        <p>Hi it demo for practicing</p>
    </div>
    </div>
    
    



<router-outlet></router-outlet>
